@using System.Diagnostics
@using Erbsenzaehler.Models
<h2>Mehr zum Erbsenzähler</h2>

<p>
    Ich bin Hannes Sachsenhofer, ein Softwareentwickler aus Österreich. Der Erbsenzähler ist ein Hobbyprojekt von mir,
    das ich für mein eigenes Haushaltsbuch verwende. Eines Tages stand ich vor dem Punkt in meinem Leben, an dem ich einen
    besseren und effizienteren Weg brauchte, um den Überblick über mein Einkommen und vor allem meine Ausgaben zu behalten
    (und besonders über die Ausgaben meiner Freundin ;-). Da alle Programme, die ich so fand, entweder zu kompliziert oder zu teuer
    waren, habe ich einfach mein eigenes geschrieben.
</p>

<h4>
    Sie können sehr gerne meine Software verwenden, aber bitte beachten Sie:
</h4>

<p class="alert alert-warning">
    Der Erbsenzähler wird ohne jede ausdrückliche oder implizierte Garantie bereitgestellt,
    einschließlich der Garantie zur Benutzung für den vorgesehenen oder einem bestimmten Zweck sowie jeglicher Rechtsverletzung,
    jedoch nicht darauf beschränkt. In keinem Fall sind die Autoren oder Copyrightinhaber für jeglichen Schaden oder sonstige
    Ansprüche haftbar zu machen, ob infolge der Erfüllung eines Vertrages, eines Deliktes oder anders im Zusammenhang mit dem
    Erbsenzähler oder sonstiger Verwendung des Erbsenzähler entstanden.
</p>


<div class="row">
    <div class="col-sm-10">
        Sie dürfen mich gerne kontaktieren, wenn Sie auf Probleme stoßen oder Unterstützung benötigen. Bitte vergessen Sie aber nicht,
        dass ich am Erbsenzähler ausschließlich in meiner Freizeit arbeite und kein Geld damit verdiene.
    </div>
    <div class="col-sm-2">
        <div class="pull-right">
            <a href="mailto:hannes@sachsenhofer.com" class="btn btn-default">E-Mail</a>
            <a href="https://twitter.com/saxx" class="btn btn-primary">Twitter</a>
        </div>
    </div>
</div>

<p></p>

<p>
    Erbsenzähler v@( FileVersionInfo.GetVersionInfo(typeof (Db).Assembly.Location).ProductVersion) wird ermöglicht durch <a href="@Url.Action("Attribution")">viele großartige Open-Source-Projekte.</a>
</p>

<p></p>

<p>
    Ihr,<br/>
    ~ Hannes Sachsenhofer
</p>