<h2>Verwendete Software, Komponenten und Ressourcen</h2>

<p>
    Das Icon des Erbsenzählers basiert auf Arbeit von <a href="http://thenounproject.com/term/peas/62778/">Yi Chen</a> (lizenziert über CC BY 3.0)
</p>

<p>
    Der Erbsenzähler wurde ermöglicht durch eine Menge großartiger Open-Source-Software:

    <ul>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
        <li>OWIN</li>
        <li>ASP.NET Identities</li>
        <li>Newtonsoft JSON</li>
        <li>CsvHelper</li>
        <li>ChartJS</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>AngularJS</li>
        <li>Respond.js</li>
        <li>Modernizr</li>
    </ul>
</p>