<h2>Attribution</h2>

<p>
    The Erbsenzähler icon is a derivative of <a href="http://thenounproject.com/term/peas/62778/">work by Yi Chen</a> (licensed under CC BY 3.0)
</p>

<p>
    Erbsenzähler makes ose of many great open source libraries:

    <ul>
        <li>ASP.NET MVC</li>
        <li>Entity Framework</li>
        <li>OWIN</li>
        <li>ASP.NET Identities</li>
        <li>Newtonsoft JSON</li>
        <li>CsvHelper</li>
        <li>ChartJS</li>
        <li>jQuery</li>
        <li>Bootstrap</li>
        <li>AngularJS</li>
        <li>Respond.js</li>
        <li>Modernizr</li>
    </ul>

</p>