<h2>About Erbsenzähler</h2>

<p>
    I'm Hannes Sachsenhofer, an Austrian software engineer, and Erbsenzähler is a pet project of mine that I use
    for my very own household accounting. At some point in my life I just needed a simple and efficient way to track my
    income and my expenses (and especially those of my girlfriend ;-) and all the existing tools I found were either too
    complicated or too expensive. So I built my own.
</p>

<h4>
    Feel free to use my software, but remember
</h4>

<p class="alert alert-warning">
    Erbsenzähler is provided "as is", without warranty of any kind, express or
    implied, including but not limited to the warranties of merchantability,
    fitness for a particular porpose and noninfrinement. In no event shall the
    authors or copyright holders be liable for any claim, damages or other
    liability, whether in action of contract, tort or otherwise, arising from,
    out of or in connection with Erbsenzähler or the use or other dealings in Erbsenzähler.
</p>


<div class="row">
    <div class="col-sm-10">
        You may of course contact me if you encounter any problems or need support. Please keep in mind that I'm
        working on Erbsenzähler only in my spare time, and that I do not earn any money with it.
    </div>
    <div class="col-sm-2">
        <div class="pull-right">
            <a href="mailto:hannes@sachsenhofer.com" class="btn btn-default">E-Mail</a>
            <a href="https://twitter.com/saxx" class="btn btn-primary">Twitter</a>
        </div>
    </div>
</div>

<p></p>

<p>
    ~ Hannes Sachsenhofer, 2015
</p>

<p></p>

<p>
    ps: <i>Erbsenzähler</i> is German and translates into <i>bean counter</i>.
</p>
