<div class="jumbotron">
    <h1>Welcome to Erbsenzähler</h1>
    <p class="lead">... my very own way to track expenses.</p>
    <p>
        <a href="@Url.Action("About", "Home")" class="btn btn-success btn-lg">Learn more</a>
    </p>
</div>