<div class="jumbotron text-center">
    <h1>
        Erbsenzähler
    </h1>
    <p class="lead">
        Der Erbsenzähler ist das Haushaltsbuch, das Ihnen keine zusätzliche Arbeit macht.
    </p>
    <p class="lead">
        Sie behalten automatisch den Überblick über Ihre monatlichen Ausgaben und Ihr Einkommen,
        weil der Erbsenzähler alle nötigen Informationen direkt aus Ihren Kontoauszügen bezieht.
    </p>
    <p>
        <a class="btn btn-lg btn-success" href="@Url.Action("Register", "User")">
            Kostenlos registrieren
        </a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="feature-image" href="~/Content/Screenshots/Charts.png">
            <img src="~/Content/Screenshots/Charts.png" alt="Wunderschöne Grafiken">
        </a>
        <h3>
            Wunderschöne Charts
        </h3>
        <p>
            Übersichtliche und vor allem sinnvolle Charts helfen Ihnen, schon auf einen Blick Ihre monatlichen Ausgaben oder Saldos zu erkennen.
        </p>
    </div>
    <div class="col-md-6">
        <a class="feature-image" href="~/Content/Screenshots/Budgets.png">
            <img src="~/Content/Screenshots/Budgets.png" alt="Budgets zur Ausgabenkontrolle">
        </a>
        <h3>
            Budgets zur Ausgabenkontrolle
        </h3>
        <p>
            Sie können beliebige Budgets festlegen, so dass der Erbsenzähler Sie rechtzeitig warnen kann, wenn Ihre Ausgaben einmal unerwartet etwas höher ausfallen sollten.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="feature-image" href="~/Content/Screenshots/HistoricalReports.png">
            <img src="~/Content/Screenshots/HistoricalReports.png" alt="Historische Reports">
        </a>
        <h3>
            Historische Reports
        </h3>
        <p>
            Der Erbsenzähler bereitet Ihre Daten auch so auf, dass Sie direkt vergleichen können, wie sich Ihre Einnahmen und Ausgaben über die Monate und Jahre verändert haben.
        </p>
    </div>
    <div class="col-md-6">
        <a class="feature-image" href="~/Content/Screenshots/Rules.png">
            <img src="~/Content/Screenshots/Rules.png" alt="Ausgefeilte Regeln">
        </a>
        <h3>
            Ausgefeilte Regeln
        </h3>
        <p>
            Mithilfe detaillierter Regeln können Sie Ihre Buchungszeilen vollautomatisch gewissen Kategorien und Budgets zuordnen.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <a class="feature-image" href="~/Content/Screenshots/Lines.png">
            <img src="~/Content/Screenshots/Lines.png" alt="Bis ins letzte Detail">
        </a>
        <h3>
            Bis ins letzte Detail
        </h3>
        <p>
            Manchmal ist es nötig, Ausgaben bis ins letzte Detail nachzuverfolgen. Der Erbsenzähler ermöglicht zusätzlich zu seinen übersichtlichen Reports und Grafiken auch genau das.
        </p>
    </div>
    <div class="col-md-6">
        <a class="feature-image" href="~/Content/Screenshots/Import.png">
            <img src="~/Content/Screenshots/Import.png" alt="Sie entscheiden, woher Ihre Daten kommen">
        </a>
        <h3>
            Datenfreiheit
        </h3>
        <p>
            Der Erbsenzähler kann vollautomatisch Ihre Kontoauszüge abrufen und aufbereiten. Auf Wunsch können Sie Ihre Buchungen aber auch manuell importieren, oder sogar selbst einzeln eintragen.
        </p>
    </div>
</div>