body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar .logo {
    padding-top: 6px;
    margin-left: -5px;
    margin-right: 15px;
}

.tooltip-inner {
    max-width: 350px;
    width: 350px;
}

.lines-editor .line-ignore {
    color: silver;
    text-decoration: line-through;
}

.lines-editor .noCategory {
    background: transparent;
    padding: 0.2em 2em 0.3em;
    font-size: 75%;
}

.rules-editor textarea {
    font-size: 80%;
    font-family: monospace;
    height: 7em;
}

.rules-editor input, .rules-editor select {
    font-size: 80%;
}


.rules-editor th:nth-child(2), .rules-editor th:nth-child(3), .rules-editor th:nth-child(4) {
    width: 15%;
}

.rules-editor th:nth-child(5) {
    width: 1%;
}

.rules-editor .label {
    margin-top: 2px;
    display: block;
}

/* category */
.budgets-editor td:nth-child(1) input {
    width: 10em;
}

/* limit */
.budgets-editor td:nth-child(2) input {
    width: 6em;
    display: inline;
    text-align: right;
}

/* period */
.budgets-editor td:nth-child(2) select {
    width: 7em;
    display: inline;
}

#carousel {
    border: 1px solid #e7e7e7;
}

    #carousel .item img {
        margin-right: auto;
        margin-left: auto;
    }

    #carousel .carousel-caption {
        color: black;
        text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    }

    #carousel .carousel-control {
        background: none;
    }
