<div ng-app="erbsenzaehlerApp" ng-controller="linesEditorController" id="linesEditorController" data-action="@Url.Action("Json", "LinesEditor")">
    <table class="table table-striped lines-editor" ng-show="!loading">
        <tr>
            <th>Account</th>
            <th>Date</th>
            <th>Text</th>
            <th>Amount</th>
            <th>Category</th>
            <th></th>
            <th><button class="btn btn-xs btn-success glyphicon glyphicon-plus pull-right" ng-click="addLine()" data-toggle="tooltip" data-placement="left" title="Add a new account statement"></button></th>
        </tr>

        <tr ng-repeat="line in viewModel.Lines" class="line" ng-class="{'line-ignore': line.Ignore}">
            <td>
                <span class="label label-info">{{line.Account}}</span>
            </td>
            <td>
                <div contenteditable spellcheck="false" nobreaks nospaces nochars ng-blur="saveLine(line)" ng-model="line.Date"></div>
                <div class="text-muted" ng-if="line.ManuallyAdded == false && line.Date != line.OriginalDate">
                    <s>{{line.OriginalDate}}</s>
                </div>
            </td>
            <td>
                <div contenteditable spellcheck="false" nobreaks ng-blur="saveLine(line)" ng-model="line.Text"></div>
            </td>
            <td class="amount">
                <div contenteditable spellcheck="false" nobreaks nospaces nochars ng-blur="saveLine(line)" ng-model="line.Amount"></div>
                <div class="text-muted" ng-if="line.ManuallyAdded == false && line.Amount != line.OriginalAmount">
                    <s>{{line.OriginalAmount}}</s>
                </div>
            </td>
            <td>
                <span contenteditable spellcheck="false" nobreaks nospaces ng-blur="saveLine(line)" ng-model="line.Category" ng-class="{'label label-success': line.Category != null && line.Category != '', 'noCategory': line.Category == null || line.Category == ''}"></span>
            </td>
            <td>
                <button class="btn btn-xs btn-default glyphicon" ng-click="switchIgnore(line)" ng-class="{'glyphicon-eye-open': line.Ignore, 'glyphicon-eye-close': !line.Ignore}" data-toggle="tooltip" data-placement="left" title="Toggle to ignore/include this account statement in all reports and charts"></button>
            </td>
            <td>
                <button class="btn btn-xs btn-danger glyphicon glyphicon-trash pull-right" ng-click="deleteLine(line)" data-toggle="tooltip" data-placement="left" title="Delete this account statement"></button>
            </td>
        </tr>
    </table>
</div>

