<div class="alert alert-warning">
    <p>
        Es sieht so aus, als wenn Sie noch keine Budgets angelegt hätten :-(
    </p>
    <p>
        Budgets helfen Ihnen, für bestimmte Kategorien eigene Ausgabenlimits zu überwachen.
    </p>
    <p>
        <a href="@Url.Action("Index", "ManageBudgets")" class="btn btn-default pull-right">Budget anlegen</a>
    </p>
    <p class="clearfix"></p>
</div>