<div class="alert alert-warning">
    <p>
        It seems that there is nothing to display here :-(
    </p>
    <p>
        This usually means that you don't have any account statements created yet.
        The easiest way to do is to download a CSV file from you e-banking website and then import it into Erbsenzähler.
    </p>
    <p>
        <a href="@Url.Action("Index", "Import")" class="btn btn-default pull-right">Import account statements</a>
    </p>
    <p class="clearfix"></p>
</div>