<div class="alert alert-warning">
    <p>
        Es sieht so aus, als wenn es hier nichts anzuzeigen gäbe :-(
    </p>
    <p>
        Das bedeutet üblicherweise, dass Sie noch keine Buchungszeilen erstellt oder importiert haben.
        Der einfachste Weg dies nachzuholen ist, wenn Sie eine CSV-Datei von Ihrer E-Banking Website herunterladen und in den Erbsenzähler importieren.
    </p>
    <p>
        <a href="@Url.Action("Index", "Import")" class="btn btn-default pull-right">Buchungszeilen importieren</a>
    </p>
    <p class="clearfix"></p>
</div>