@model Erbsenzaehler.ViewModels.ManageAccounts.DeleteViewModel

<h2>Gesamtes Erbsenzähler-Konto löschen</h2>

<div class="alert alert-danger">
    Sind Sie sicher, dass Sie <b>alles</b> löschen möchten? Das betrifft Ihre Daten, Ihre Benutzer, Ihre Einstellungen und Reports.
    Eine Löschung kann nicht mehr rückgängig gemacht werden. Bitte löschen Sie Ihre Daten nur dann, wenn Sie den Erbsenzähler nicht mehr benutzen möchten.
</div>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Ja, ich bin absolut sicher, alles löschen" class="btn btn-danger"/> 
            @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>