<h2>Buchungszeilen importieren</h2>

<div class="row">

    <div class="col-sm-4">
        <h4>Manueller Import</h4>

        <p>
            Auf den meisten E-Banking-Plattformen können Sie Ihre Kontoauszüge als Datei im CSV-Format herunterladen.
            Diese Datei können Sie in den Erbsenzähler hochladen und so Ihre Buchungszeilen importieren.
        </p>

        <p>
            Derzeit unterstützt:
            <ul>
                <li>Easybank Format</li>
                <li>ELBA Format</li>
                <li>Allgemeines CSV/TSV Format</li>
            </ul>
        </p>

        <a href="@Url.Action("ManualImport")" class="btn btn-primary btn-block">Buchungszeilen manuell importieren</a>
    </div>

    <div class="col-sm-4">
        <h4>Import über Ihren PC</h4>
        <p>Kommt bald ...</p>
    </div>

    <div class="col-sm-4">
        <h4>Automatischer Import</h4>

        <p>
            Der Erbsenzähler kann die Buchungszeilen aus Ihren Kontoauszügen auch täglich vollautomatisch importieren.
        </p>

        <p>
            Das ist definitiv die bequemste Variante, allerdings müssen Sie hierfür dem Erbsenzähler die Zugangsdaten zu Ihrer E-Banking-Plattform mitteilen.
            Auch wenn der Erbsenzähler niemals Überweisungen oder ähnliches durchführen, sondern nur Ihre Kontoauszüge herunterladen kann, 
            ist diese Variante natürlich sehr sensibel.
        </p>

        <p>
            Setzen Sie diese Variante nur ein, wenn Sie dem Erbsenzähler vertrauen!
        </p>

        <p>
            Derzeit unterstützt:
            <ul>
                <li>Easybank</li>
            </ul>
        </p>

        <a href="@Url.Action("AutoImporterSettings")" class="btn btn-primary btn-block">Automatischen Import konfigurieren</a>
    </div>

</div>

