@using Newtonsoft.Json
@model Erbsenzaehler.ViewModels.HistoricalReports.BalanceViewModel
@if (Model.BalancePerMonth.Any())
{
    <div id="chartContainer" style="max-width: 100%; height: 600px;"></div>

@section scripts
{
    <script>
        var json = @Html.Raw(JsonConvert.SerializeObject(Model.BalancePerMonth.Select(x => new
                   {
                       Name = x.Key.ToString(),
                       x.Value
                   })));


        $(function() {
            $('#chartContainer').dxChart({
                title: {
                    text: 'Historical balance',
                    font: {
                        size: '1.25em'
                    }
                },
                dataSource: json,
                palette: 'Soft Pastel',
                tooltip: {
                    enabled: true,
                    argumentFormat: 'currency',
                    customizeText: function() {
                        return this.argumentText + ": " + this.valueText + " €";
                    }
                },
                commonSeriesSettings: {
                    type: 'splineArea',
                    argumentField: 'Name'
                },
                legend: {
                    visible: false
                },
                series: [
                    {
                        valueField: 'Value',
                        name: 'Balance',
                        point: { visible: true }
                    }
                ]
            });
        });
    </script>
}}
else
{
    @Html.Partial("_NoLinesWarning")
}