@model Erbsenzaehler.ViewModels.ManageUsers.DeleteViewModel

<h2>Benutzer '@Model.Email' löschen</h2>

@if (Model.IsCurrentUser)
{
    <div class="alert alert-danger">
        Sie können nicht Ihren eigenen Benutzer löschen.
    </div>

    @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-default" })
}
else
{
    <text>
        <p>
            Sind Sie sicher, dass Sie diesen Benutzer löschen möchten? Dies ist nicht mehr rückgängig zu machen, der gelöschte Benutzer kann sich nicht mehr anmelden.
        </p>

        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Ja, ich bin mir sicher, Benutzer löschen" class="btn btn-danger"/> @Html.ActionLink("Zurück", "Index", null, new { @class = "btn btn-default" })
                </div>
            }
        </div>
    </text>
}
