@model Erbsenzaehler.ViewModels.ManageUsers.IndexViewModel

<h2>Manage Users</h2>

<p>
    @Html.ActionLink("Create new user", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table table-striped">
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @item.Email
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger pull-right" })
            </td>
        </tr>
    }
</table>
