<div ng-app="erbsenzaehlerApp" ng-controller="linesController">

    <h1>Overview</h1>

    <div ng-show="loading">
        Loading, please give it a few seconds ...
    </div>

    <p ng-show="!loading">
        <select id="dateDropdown" class="form-control" ng-model="viewModel.SelectedDate" ng-change="LoadLines()" ng-options="m.Value as m.Name for m in viewModel.AvailableDates"></select>
    </p>

    <table class="table table-striped" ng-show="!loading">
        <tr>
            <th>Account</th>
            <th>Date</th>
            <th>Text</th>
            <th>Amount</th>
            <th></th>
            <th></th>
        </tr>

        <tr ng-repeat="line in viewModel.Lines" class="line" ng-class="{ignoredLine: line.IsIgnored}">
            <td>
                <span class="label label-info">{{line.Account}}</span>
            </td>
            <td>
                <span style="cursor: pointer;" ng-click="changeDate(line, $event)">
                    {{line.Date}}
                </span>
            </td>
            <td>
                {{line.Text}}
            </td>
            <td class="amount">
                {{line.Amount}}
            </td>
            <td>
                <span class="glyphicon" style="cursor: pointer;" ng-click="switchIgnore(line)" ng-class="{'glyphicon-eye-open': line.Ignore, 'glyphicon-eye-close': !line.Ignore}" title="Ignore"></span>
            </td>
        </tr>
    </table>

    <input id="date" type="text" style="display: none; width: 90px;"/>
</div>


@section scripts {
    <script>
        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }

        var erbsenzaehlerAnimations = angular.module('erbsenzaehlerAnimations', ['ngAnimate']);

        var erbsenzaehlerServices = angular.module('erbsenzaehlerServices', ['ngResource']);
        erbsenzaehlerServices.factory('linesResource', [
            '$resource',
            function($resource) {
                return $resource('@Url.Action("Json")?date=:date',
                { date: '' }, {
                    query: { method: 'GET', params: { date: '' } },
                    update: { method: 'POST', params: { date: '' } }
                });
            }
        ]);

        var erbsenzaehlerControllers = angular.module('erbsenzaehlerControllers', []);
        erbsenzaehlerControllers.controller('linesController', [
            '$scope', 'linesResource', function($scope, linesResource) {
                $scope.LoadLines = function() {
                    var selectedDate = window.location.hash.substring(1);
                    if ($scope.viewModel && $scope.viewModel.SelectedDate)
                        selectedDate = $scope.viewModel.SelectedDate;

                    $scope.loading = true;
                    $scope.viewModel = linesResource.query({ date: selectedDate }, function(result) {
                        window.location.hash = "#" + result.SelectedDate;
                        $scope.loading = false;
                    });
                };

                $scope.switchIgnore = function(line) {
                    line.Ignore = !line.Ignore;
                    linesResource.update(line);
                };

                $scope.changeDate = function(line, event) {
                    var textbox = $("#date");
                    textbox.val(line.Date);

                    var clickedControl = $(event.target);
                    textbox
                        .css("position", "absolute")
                        .css("top", clickedControl.offset().top + "px")
                        .css("left", clickedControl.offset().left + "px")
                        .show()
                        .focus();

                    textbox.off();
                    textbox.focusout(function() {
                        line.Date = textbox.val();
                        textbox.hide();
                        linesResource.update(line);
                    });
                };

                $scope.LoadLines();
            }
        ]);

        var erbsenzaehlerApp = angular.module('erbsenzaehlerApp', ['erbsenzaehlerControllers', 'erbsenzaehlerServices', 'erbsenzaehlerAnimations']);
    </script>
}